<<< [Index](#Index.ipynb)

# Introduction to databases in Python

### [Introduction to Databases](#ItD)
* [Relational Model](#RM)

### [Connecting to your Database](#CtyD)
* [Engines and Connection Strings](#EaCS)
* [Autoloading Tables from a Database](#ATfaD)
* [Viewing Table Details](#VTD)

### [Introduction to SQL](#ItS)
* [Selecting data from a Table: raw SQL](#SdfaTrS)
* [Selecting data from a Table with SQLAlchemy](#SdfaTwS)
* [Handling a ResultSet](#HaR)
* [Congratulations!](#C)   



## [Applying Filtering, Ordering and Grouping to Queries](#apog)
### [Filtering and Targeting Data](#FaTD)
* [Connecting to a PostgreSQL Database](#CtaPD)
* [Filter data selected from a Table - Simple](#FdsfaT-S)
* [Filter data selected from a Table - Expressions](#FdsfaT-E)
* [Filter data selected from a Table - Advanced](#FdsfaT-A)

###  [Overview of Ordering](#OoO)
* [Ordering by a Single Column](#ObaSC)
* [Ordering in Descending Order by a Single Column](#OiDObaSC)
* [Ordering by Multiple Columns](#ObMC)

### [Counting, Summing and Grouping Data](#CSaGD)
* [Counting Distinct Data](#CDD)
* [Count of Records by State](#CoRbS)
* [Determining the Population Sum by State](#DtPSbS)
* [Let's use Pandas and Matplotlib to visualize our Data](#LuPaMtvoD)
* [SQLAlchemy ResultsProxy and Pandas Dataframes](#SRaPD)
* [From SQLAlchemy results to a Graph](#FSrtaG)      


## [Advanced SQLAlchemy Queries](#asq)
### [Calculating Values in a Query](#CViaQ)
* [Connecting to a MySQL Database](#CtaMD)
* [Calculating a Difference between Two Columns](#CaDbTC)
* [Determining the Overall Percentage of Females](#DtOPoF)

### [SQL Relationships](#SR)
* [Automatic Joins with an Established Relationship](#AJwaER)
* [Joins](#J)
* [More Practice with Joins](#MPwJ)

### [Working with Hierarchical Tables](#WwHT)
* [Using alias to handle same table joined queries](#Uathstjq)
* [Leveraging Functions and Group_bys with Hierarchical Data](#LFaGwHD)

### [Dealing with Large ResultSets](#DwLR)
* [Working on Blocks of Records](#WoBoR)    

## [Creating and Manipulating your own Databases](#cmod)
### [Creating Databases and Tables](#CDaT)
* [Creating Tables with SQLAlchemy](#CTwS)
* [Constraints and Data Defaults](#CaDD)
### [Inserting Data into a Table](#IDiaT)
* [Inserting a single row with an insert() statement](#Iasrwais)
* [Inserting Multiple Records at Once](#IMRaO)
* [Loading a CSV into a Table](#LaCiaT)
### [Updating Data in a Database](#UDiaD)
* [Updating individual records](#Uir)
* [Updating Multiple Records](#UMR)
* [Correlated Updates](#CU)
### [Removing Data From a Database](#RDFaD)
* [Deleting all the records from a table](#Datrfat)
* [Deleting specific records](#Dsr)
* [Deleting a Table Completely](#DaTC)      


## [Putting it all together](#p)
### [Census Case Study](#CCS)
* [Setup the Engine and MetaData](#StEaM)
* [Create the Table to the Database](#CtTttD)
* [Populating the Database](#PtD)
* [Reading the Data from the CSV](#RtDftC)
* [Load Data from a list into the Table](#LDfalitT)

### [Example Queries](#EQ)
* [Build a Query to Determine the Average Age by Population](#BaQtDtAAbP)
* [Build a Query to Determine the Percentage of Population by Gender and State](#BaQtDtPoPbGaS)

### [Build a Query to Determine the Difference by State from the 2000 and 2008 Censuses](#BaQtDtDbSft2a2C)

<p id ='ItD'><p>
### Introduction to Databases

<p id ='RM'><p>
### Relational Model

<p id ='CtyD'><p>
### Connecting to your Database

<p id ='EaCS'><p>
### Engines and Connection Strings

Creating Your First Engine

An Engine is an common interface to a Databases
An information it requires to connect to one is contained string such as
`sqlite:///census_nyc.sqlite`

 Here, `sqlite` is the database driver, while `census_nyc.sqlite` is a SQLite file contained in the local directory

In [2]:
from sqlalchemy import create_engine
import glob
import sqlalchemy

In [3]:
cd data/

/Users/satyammishra/Desktop/Datacamp stuff/jupyternotes/data

In [4]:
glob.glob('*.sqlite')

['census.sqlite']

In [300]:
engine = create_engine('sqlite:///census.sqlite')

In [301]:
engine.table_names()

['census', 'state_fact']

<p id ='ATfaD'><p>
### Autoloading Tables from a Database
    
SQLAlchemy can be used to automatically load tables from a database using something called reflection. Reflection is the process of reading the database and building the metadata based on that information. It's the opposite of creating a Table by hand and is very useful for working with existing databases. To perform reflection, you need to import the Table object from the SQLAlchemy package. Then, you use this Table object to read your table from the engine and autoload the columns. Using the Table object in this manner is a lot like passing arguments to a function. For example, to autoload the columns with the engine, you have to specify the keyword arguments `autoload=True` and `autoload_with=engine to Table()`.

In [302]:
from sqlalchemy import Table, MetaData

In [303]:
metadata = MetaData(bind = None)

In [304]:
# Reflect census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

In [10]:
MetaData

sqlalchemy.sql.schema.MetaData

In [11]:
repr(census)

"Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)"

<p id ='VTD'><p>
### Viewing Table Details
It is important to get an understanding of your database by examining the column names. This can be done by using the `.columns` attribute and accessing the `.keys()` method. For example, `census.columns.keys()` would return a list of column names of the census table.

In [12]:
census.columns.keys()

['state', 'sex', 'age', 'pop2000', 'pop2008']

In [13]:
repr(metadata.tables['census'])

"Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)"

<p id ='ItS'><p>
### Introduction to SQL

<p id ='SdfaTrS'><p>
### Selecting data from a Table: raw SQL

In [14]:
stmt = "SELECT * FROM census;"

In [15]:
engine = create_engine('sqlite:///census.sqlite')

In [163]:
connection= engine.connect()

In [17]:
results = connection.execute(stmt)

In [18]:
results1 = results.fetchall()

In [19]:
results1[0][0]

'Illinois'

In [20]:
results1[0]['state']

'Illinois'

<p id ='SdfaTwS'><p>
### Selecting data from a Table with SQLAlchemy
Excellent work so far! It's now time to build your first select statement using SQLAlchemy. SQLAlchemy provides a nice "Pythonic" way of interacting with databases. So rather than dealing with the differences between specific dialects of traditional SQL such as MySQL or PostgreSQL, you can leverage the Pythonic framework of SQLAlchemy to streamline your workflow and more efficiently query your data. For this reason, it is worth learning even if you may already be familiar with traditional SQL.

In this exercise, you'll once again build a statement to query all records from the census table. This time, however, you'll make use of the `select()` function of the sqlalchemy module. This function requires a list of tables or columns as the only required argument.

In [21]:
from sqlalchemy import select, Table

In [22]:
census = Table('census', metadata, autoload= True, autoload_with= engine )

In [23]:
# Build select statement for census table: stmt
stmt = select([census])

In [24]:
stmt

In [25]:
results = connection.execute(stmt).fetchall()
results[:20]

[('Illinois', 'M', 0, 89600, 95012),
 ('Illinois', 'M', 1, 88445, 91829),
 ('Illinois', 'M', 2, 88729, 89547),
 ('Illinois', 'M', 3, 88868, 90037),
 ('Illinois', 'M', 4, 91947, 91111),
 ('Illinois', 'M', 5, 93894, 89802),
 ('Illinois', 'M', 6, 93676, 88931),
 ('Illinois', 'M', 7, 94818, 90940),
 ('Illinois', 'M', 8, 95035, 86943),
 ('Illinois', 'M', 9, 96436, 86055),
 ('Illinois', 'M', 10, 97280, 86565),
 ('Illinois', 'M', 11, 94029, 86606),
 ('Illinois', 'M', 12, 92402, 89596),
 ('Illinois', 'M', 13, 89926, 91661),
 ('Illinois', 'M', 14, 90717, 91256),
 ('Illinois', 'M', 15, 92178, 92729),
 ('Illinois', 'M', 16, 90587, 93083),
 ('Illinois', 'M', 17, 92782, 94541),
 ('Illinois', 'M', 18, 90997, 100253),
 ('Illinois', 'M', 19, 89629, 96588)]

<p id ='HaR'><p>
### Handling a ResultSet
    
Recall the differences between a ResultProxy and a ResultSet:

* **ResultProxy**: The object returned by the `.execute()` method. It can be used in a variety of ways to get the data returned by the query.
* **ResultSet**: The actual data asked for in the query when using a fetch method such as `.fetchall()` on a ResultProxy.

In [26]:
first_row = results[0]
first_row

('Illinois', 'M', 0, 89600, 95012)

In [27]:
first_row[0]

'Illinois'

In [28]:
first_row['state']

'Illinois'

<p id ='C'><p>
### Congratulations!

<p id ='FaTD'><p>
### Filtering and Targeting Data

<p id ='CtaPD'><p>
### Connecting to a PostgreSQL Database
    
    
In these exercises, you will be working with real databases hosted on the cloud via Amazon Web Services (AWS)!

Let's begin by connecting to a PostgreSQL database. When connecting to a PostgreSQL database, many prefer to use the psycopg2 database driver as it supports practically all of PostgreSQL's features efficiently and is the standard dialect for PostgreSQL in SQLAlchemy.

There are three components to the connection string in this exercise: the **dialect and driver** `('postgresql+psycopg2://')`, followed by the **username and password** `('student:datacamp')`, followed by the host and port ('@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/'), and finally, the database name ('census'). You will have to pass this string as an argument to create_engine() in order to connect to the database.

In [29]:
# Create an engine to the census database
engine = create_engine('postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census')

In [30]:
print(engine.table_names())

['census', 'state_fact', 'vrska', 'census1', 'data', 'data1', 'employees3', 'users', 'employees', 'employees_2']

In [31]:
census

Table('census', MetaData(bind=None), Column('state', VARCHAR(length=30), table=<census>), Column('sex', VARCHAR(length=1), table=<census>), Column('age', INTEGER(), table=<census>), Column('pop2000', INTEGER(), table=<census>), Column('pop2008', INTEGER(), table=<census>), schema=None)

<p id ='FdsfaT-S'><p>
### Filter data selected from a Table - Simple

In [32]:
# Create a select query: stmt
stmt = select([census])

In [33]:
stmt =stmt.where(census.columns.state=='New York')

In [34]:
print(stmt)

SELECT census.state, census.sex, census.age, census.pop2000, census.pop2008
FROM census
WHERE census.state = :state_1

In [35]:
results = connection.execute(stmt).fetchall()
results

[('New York', 'M', 0, 126237, 128088),
 ('New York', 'M', 1, 124008, 125649),
 ('New York', 'M', 2, 124725, 121615),
 ('New York', 'M', 3, 126697, 120580),
 ('New York', 'M', 4, 131357, 122482),
 ('New York', 'M', 5, 133095, 121205),
 ('New York', 'M', 6, 134203, 120089),
 ('New York', 'M', 7, 137986, 122355),
 ('New York', 'M', 8, 139455, 118653),
 ('New York', 'M', 9, 142454, 117369),
 ('New York', 'M', 10, 145621, 118810),
 ('New York', 'M', 11, 138746, 121121),
 ('New York', 'M', 12, 135565, 126338),
 ('New York', 'M', 13, 132288, 128713),
 ('New York', 'M', 14, 132388, 129812),
 ('New York', 'M', 15, 131959, 134463),
 ('New York', 'M', 16, 130189, 136569),
 ('New York', 'M', 17, 132566, 140114),
 ('New York', 'M', 18, 132672, 156892),
 ('New York', 'M', 19, 133654, 147556),
 ('New York', 'M', 20, 132121, 146611),
 ('New York', 'M', 21, 126166, 141932),
 ('New York', 'M', 22, 123215, 138557),
 ('New York', 'M', 23, 121282, 136150),
 ('New York', 'M', 24, 118953, 132383),
 ('New York', 'M', 25, 123151, 141850),
 ('New York', 'M', 26, 118727, 129603),
 ('New York', 'M', 27, 122359, 131419),
 ('New York', 'M', 28, 128651, 127224),
 ('New York', 'M', 29, 140687, 122449),
 ('New York', 'M', 30, 149558, 126404),
 ('New York', 'M', 31, 139477, 126124),
 ('New York', 'M', 32, 138911, 123362),
 ('New York', 'M', 33, 139031, 126486),
 ('New York', 'M', 34, 145440, 120030),
 ('New York', 'M', 35, 156168, 123017),
 ('New York', 'M', 36, 153840, 127076),
 ('New York', 'M', 37, 152078, 136270),
 ('New York', 'M', 38, 150765, 144715),
 ('New York', 'M', 39, 152606, 135027),
 ('New York', 'M', 40, 159345, 135355),
 ('New York', 'M', 41, 148628, 132905),
 ('New York', 'M', 42, 147892, 140025),
 ('New York', 'M', 43, 144195, 151555),
 ('New York', 'M', 44, 139354, 149030),
 ('New York', 'M', 45, 141953, 148147),
 ('New York', 'M', 46, 131875, 146692),
 ('New York', 'M', 47, 128767, 147648),
 ('New York', 'M', 48, 125406, 155155),
 ('New York', 'M', 49, 124155, 144287),
 ('New York', 'M', 50, 125955, 143466),
 ('New York', 'M', 51, 118542, 139630),
 ('New York', 'M', 52, 118532, 133939),
 ('New York', 'M', 53, 124418, 136723),
 ('New York', 'M', 54, 95025, 125953),
 ('New York', 'M', 55, 92652, 122478),
 ('New York', 'M', 56, 90096, 118070),
 ('New York', 'M', 57, 95340, 115823),
 ('New York', 'M', 58, 83273, 117177),
 ('New York', 'M', 59, 77213, 108293),
 ('New York', 'M', 60, 77054, 106825),
 ('New York', 'M', 61, 72212, 113681),
 ('New York', 'M', 62, 70967, 83763),
 ('New York', 'M', 63, 66461, 81226),
 ('New York', 'M', 64, 64361, 76961),
 ('New York', 'M', 65, 64385, 82242),
 ('New York', 'M', 66, 58819, 70423),
 ('New York', 'M', 67, 58176, 64117),
 ('New York', 'M', 68, 57310, 63657),
 ('New York', 'M', 69, 57057, 58801),
 ('New York', 'M', 70, 57761, 57609),
 ('New York', 'M', 71, 53775, 53231),
 ('New York', 'M', 72, 53568, 51132),
 ('New York', 'M', 73, 51263, 50696),
 ('New York', 'M', 74, 48440, 44822),
 ('New York', 'M', 75, 46702, 43592),
 ('New York', 'M', 76, 43508, 41900),
 ('New York', 'M', 77, 40730, 40417),
 ('New York', 'M', 78, 37950, 40241),
 ('New York', 'M', 79, 35774, 35941),
 ('New York', 'M', 80, 32453, 34659),
 ('New York', 'M', 81, 26803, 32022),
 ('New York', 'M', 82, 25041, 28890),
 ('New York', 'M', 83, 21687, 27217),
 ('New York', 'M', 84, 18873, 23879),
 ('New York', 'M', 85, 88366, 124478),
 ('New York', 'F', 0, 120355, 122194),
 ('New York', 'F', 1, 118219, 119661),
 ('New York', 'F', 2, 119577, 116413),
 ('New York', 'F', 3, 121029, 114877),
 ('New York', 'F', 4, 125247, 116936),
 ('New York', 'F', 5, 128227, 116051),
 ('New York', 'F', 6, 128428, 115186),
 ('New York', 'F', 7, 131161, 116951),
 ('New York', 'F', 8, 133646, 113279),
 ('New York', 'F', 9, 135746, 111919),
 ('New York', 'F', 10, 138287, 113891),
 ('New York', 'F', 11, 131904, 115607),
 ('New York', 'F', 12, 129028, 120156),
 ('New York', 'F', 13, 126571, 123797),
 ('New York', 'F', 14, 125682, 124343),
 ('New York', 'F', 15, 125409, 127635),
 ('New York', 'F', 16, 122770, 130769),
 ('New York', 'F', 17, 123978, 134311),
 ('New York', 'F', 18, 125307, 150772),
 ('New York', 'F', 19, 127956, 142871),
 ('New York', 'F', 20, 129184, 141831),
 ('New York', 'F', 21, 124575, 142302),
 ('New York', 'F', 22, 123701, 138703),
 ('New York', 'F', 23, 124108, 138084),
 ('New York', 'F', 24, 122624, 135339),
 ('New York', 'F', 25, 127474, 141601),
 ('New York', 'F', 26, 123033, 130002),
 ('New York', 'F', 27, 128125, 129600),
 ('New York', 'F', 28, 134795, 129868),
 ('New York', 'F', 29, 146832, 119821),
 ('New York', 'F', 30, 152973, 125047),
 ('New York', 'F', 31, 144001, 127486),
 ('New York', 'F', 32, 143930, 123742),
 ('New York', 'F', 33, 144653, 126908),
 ('New York', 'F', 34, 151147, 121824),
 ('New York', 'F', 35, 159228, 124485),
 ('New York', 'F', 36, 159999, 130377),
 ('New York', 'F', 37, 157911, 140890),
 ('New York', 'F', 38, 156103, 148408),
 ('New York', 'F', 39, 159284, 137936),
 ('New York', 'F', 40, 163331, 138561),
 ('New York', 'F', 41, 155353, 139720),
 ('New York', 'F', 42, 153688, 145307),
 ('New York', 'F', 43, 151615, 154437),
 ('New York', 'F', 44, 146774, 154805),
 ('New York', 'F', 45, 148318, 153651),
 ('New York', 'F', 46, 139802, 151107),
 ('New York', 'F', 47, 138062, 154997),
 ('New York', 'F', 48, 134107, 158855),
 ('New York', 'F', 49, 134399, 151022),
 ('New York', 'F', 50, 136630, 149883),
 ('New York', 'F', 51, 130843, 146988),
 ('New York', 'F', 52, 130196, 142566),
 ('New York', 'F', 53, 136064, 144121),
 ('New York', 'F', 54, 106579, 135180),
 ('New York', 'F', 55, 104847, 132338),
 ('New York', 'F', 56, 101857, 127500),
 ('New York', 'F', 57, 108406, 126450),
 ('New York', 'F', 58, 94346, 128713),
 ('New York', 'F', 59, 88584, 121743),
 ('New York', 'F', 60, 88932, 119540),
 ('New York', 'F', 61, 82899, 126847),
 ('New York', 'F', 62, 82172, 96462),
 ('New York', 'F', 63, 77171, 94667),
 ('New York', 'F', 64, 76032, 90185),
 ('New York', 'F', 65, 76498, 97321),
 ('New York', 'F', 66, 70465, 83336),
 ('New York', 'F', 67, 71088, 77404),
 ('New York', 'F', 68, 70847, 77802),
 ('New York', 'F', 69, 71377, 71850),
 ('New York', 'F', 70, 74378, 71451),
 ('New York', 'F', 71, 70611, 66625),
 ('New York', 'F', 72, 70513, 65037),
 ('New York', 'F', 73, 69156, 65719),
 ('New York', 'F', 74, 68042, 58818),
 ('New York', 'F', 75, 68410, 58722),
 ('New York', 'F', 76, 64971, 57584),
 ('New York', 'F', 77, 61287, 56907),
 ('New York', 'F', 78, 58911, 58456),
 ('New York', 'F', 79, 56865, 54136),
 ('New York', 'F', 80, 54553, 52932),
 ('New York', 'F', 81, 46381, 50693),
 ('New York', 'F', 82, 45599, 48206),
 ('New York', 'F', 83, 40525, 47777),
 ('New York', 'F', 84, 37436, 43454),
 ('New York', 'F', 85, 226378, 273476)]

In [36]:
# Loop over the results and print the age, sex, and pop2008
for result in results:
    print(result.age, result.sex, result.pop2008)

0 M 128088
1 M 125649
2 M 121615
3 M 120580
4 M 122482
5 M 121205
6 M 120089
7 M 122355
8 M 118653
9 M 117369
10 M 118810
11 M 121121
12 M 126338
13 M 128713
14 M 129812
15 M 134463
16 M 136569
17 M 140114
18 M 156892
19 M 147556
20 M 146611
21 M 141932
22 M 138557
23 M 136150
24 M 132383
25 M 141850
26 M 129603
27 M 131419
28 M 127224
29 M 122449
30 M 126404
31 M 126124
32 M 123362
33 M 126486
34 M 120030
35 M 123017
36 M 127076
37 M 136270
38 M 144715
39 M 135027
40 M 135355
41 M 132905
42 M 140025
43 M 151555
44 M 149030
45 M 148147
46 M 146692
47 M 147648
48 M 155155
49 M 144287
50 M 143466
51 M 139630
52 M 133939
53 M 136723
54 M 125953
55 M 122478
56 M 118070
57 M 115823
58 M 117177
59 M 108293
60 M 106825
61 M 113681
62 M 83763
63 M 81226
64 M 76961
65 M 82242
66 M 70423
67 M 64117
68 M 63657
69 M 58801
70 M 57609
71 M 53231
72 M 51132
73 M 50696
74 M 44822
75 M 43592
76 M 41900
77 M 40417
78 M 40241
79 M 35941
80 M 34659
81 M 32022
82 M 28890
83 M 27217
84 M 23879
85 M 124478
0 F 122194
1 F 119661
2 F 116413
3 F 114877
4 F 116936
5 F 116051
6 F 115186
7 F 116951
8 F 113279
9 F 111919
10 F 113891
11 F 115607
12 F 120156
13 F 123797
14 F 124343
15 F 127635
16 F 130769
17 F 134311
18 F 150772
19 F 142871
20 F 141831
21 F 142302
22 F 138703
23 F 138084
24 F 135339
25 F 141601
26 F 130002
27 F 129600
28 F 129868
29 F 119821
30 F 125047
31 F 127486
32 F 123742
33 F 126908
34 F 121824
35 F 124485
36 F 130377
37 F 140890
38 F 148408
39 F 137936
40 F 138561
41 F 139720
42 F 145307
43 F 154437
44 F 154805
45 F 153651
46 F 151107
47 F 154997
48 F 158855
49 F 151022
50 F 149883
51 F 146988
52 F 142566
53 F 144121
54 F 135180
55 F 132338
56 F 127500
57 F 126450
58 F 128713
59 F 121743
60 F 119540
61 F 126847
62 F 96462
63 F 94667
64 F 90185
65 F 97321
66 F 83336
67 F 77404
68 F 77802
69 F 71850
70 F 71451
71 F 66625
72 F 65037
73 F 65719
74 F 58818
75 F 58722
76 F 57584
77 F 56907
78 F 58456
79 F 54136
80 F 52932
81 F 50693
82 F 48206
83 F 47777
84 F 43454
85 F 273476

<p id ='FdsfaT-E'><p>
### Filter data selected from a Table - Expressions

In [58]:
stmt = select([census])

In [43]:
# Append a where clause to match all the states in_ the list states
stmt = stmt.where(census.columns.state.in_(['New York', 'California', 'Texas']))

In [44]:
# Loop over the ResultProxy and print the state and its population in 2000
for result in connection.execute(stmt):
    print(result.state, result.pop2000)

New York 126237
New York 124008
New York 124725
New York 126697
New York 131357
New York 133095
New York 134203
New York 137986
New York 139455
New York 142454
New York 145621
New York 138746
New York 135565
New York 132288
New York 132388
New York 131959
New York 130189
New York 132566
New York 132672
New York 133654
New York 132121
New York 126166
New York 123215
New York 121282
New York 118953
New York 123151
New York 118727
New York 122359
New York 128651
New York 140687
New York 149558
New York 139477
New York 138911
New York 139031
New York 145440
New York 156168
New York 153840
New York 152078
New York 150765
New York 152606
New York 159345
New York 148628
New York 147892
New York 144195
New York 139354
New York 141953
New York 131875
New York 128767
New York 125406
New York 124155
New York 125955
New York 118542
New York 118532
New York 124418
New York 95025
New York 92652
New York 90096
New York 95340
New York 83273
New York 77213
New York 77054
New York 72212
New York 70967
New York 66461
New York 64361
New York 64385
New York 58819
New York 58176
New York 57310
New York 57057
New York 57761
New York 53775
New York 53568
New York 51263
New York 48440
New York 46702
New York 43508
New York 40730
New York 37950
New York 35774
New York 32453
New York 26803
California 252494
California 247978
California 250644
California 257443
California 266855
California 272801
California 274899
California 277580
California 283553
California 285478
California 284518
California 269009
California 262671
California 254889
California 253023
California 251962
California 249220
California 255482
California 252607
California 248356
California 250156
California 238235
California 235718
California 239698
California 240655
California 250964
California 245324
California 251413
California 260869
California 276142
California 293816
California 273159
California 268484
California 263472
California 269607
California 286895
California 284414
California 280861
California 281214
California 278802
California 290332
California 267684
California 268045
California 261885
California 252175
California 255340
California 239126
California 229057
California 219293
California 214700
California 219017
California 203068
California 200466
California 207237
California 160674
California 158483
California 150235
California 150046
California 133017
California 124106
California 121984
California 114331
California 110491
California 102859
California 99345
California 100052
California 91053
California 89634
California 88258
California 87840
California 88575
California 80843
California 79376
California 76365
California 73697
California 72885
California 69738
California 65865
California 62867
California 58012
California 51806
California 43254
California 40083
California 34144
California 30384
California 136442
California 239605
California 236543
California 240010
California 245739
California 254522
California 260264
California 261296
California 264083
California 270447
California 271482
California 270567
California 256656
California 249887
California 242724
California 240752
California 240170
California 233186
California 235767
California 234949
California 233477
California 233532
California 223990
California 222035
California 227742
California 228401
California 238602
California 233133
California 240008
California 249185
California 266010
California 278894
California 260916
California 256168
California 252784
California 256283
California 276234
California 277592
California 276277
California 275129
California 276094
California 283554
California 265614
California 265895
California 263355
California 255016
California 256779
California 244172
California 236211
California 226391
California 221928
California 225414
California 212545
California 208500
California 215228
California 168388
California 166675
California 158368
California 160423
California 142287
California 133235
California 132033
California 123328
California 120982
California 114959
California 111942
California 113547
California 104910
California 103883
California 102061
California 103181
California 106514
California 99453
California 100574
California 99772
California 99390
California 99277
California 95046
California 90193
California 86911
California 81990
California 75849
California 65410
California 61518
California 54748
California 50746
California 294583
New York 25041
New York 21687
New York 18873
New York 88366
New York 120355
New York 118219
New York 119577
New York 121029
New York 125247
New York 128227
New York 128428
New York 131161
New York 133646
New York 135746
New York 138287
New York 131904
New York 129028
New York 126571
New York 125682
New York 125409
New York 122770
New York 123978
New York 125307
New York 127956
New York 129184
New York 124575
New York 123701
New York 124108
New York 122624
New York 127474
New York 123033
New York 128125
New York 134795
New York 146832
New York 152973
New York 144001
New York 143930
New York 144653
New York 151147
New York 159228
New York 159999
New York 157911
New York 156103
New York 159284
New York 163331
New York 155353
New York 153688
New York 151615
New York 146774
New York 148318
New York 139802
New York 138062
New York 134107
New York 134399
New York 136630
New York 130843
New York 130196
New York 136064
New York 106579
New York 104847
New York 101857
New York 108406
New York 94346
New York 88584
New York 88932
New York 82899
New York 82172
New York 77171
New York 76032
New York 76498
New York 70465
New York 71088
New York 70847
New York 71377
New York 74378
New York 70611
New York 70513
New York 69156
New York 68042
New York 68410
New York 64971
New York 61287
New York 58911
New York 56865
New York 54553
New York 46381
New York 45599
New York 40525
New York 37436
New York 226378
Texas 172223
Texas 165635
Texas 165337
Texas 164292
Texas 165785
Texas 166278
Texas 167170
Texas 169210
Texas 171199
Texas 170521
Texas 173734
Texas 167859
Texas 166474
Texas 166014
Texas 166081
Texas 167257
Texas 165881
Texas 171567
Texas 170011
Texas 164671
Texas 163295
Texas 153946
Texas 150839
Texas 152673
Texas 153769
Texas 156739
Texas 153181
Texas 155480
Texas 161048
Texas 165852
Texas 167982
Texas 158505
Texas 153855
Texas 151149
Texas 155095
Texas 164514
Texas 167136
Texas 168668
Texas 167261
Texas 169195
Texas 173212
Texas 164647
Texas 163690
Texas 161774
Texas 154542
Texas 154603
Texas 145891
Texas 141254
Texas 133710
Texas 129998
Texas 128278
Texas 123298
Texas 120815
Texas 126031
Texas 95701
Texas 95537
Texas 93337
Texas 91482
Texas 82603
Texas 76614
Texas 73441
Texas 69422
Texas 67820
Texas 63502
Texas 62593
Texas 62994
Texas 57324
Texas 55581
Texas 54657
Texas 53235
Texas 52902
Texas 49046
Texas 46608
Texas 44784
Texas 42390
Texas 40487
Texas 37785
Texas 35332
Texas 33199
Texas 29635
Texas 27357
Texas 21864
Texas 20249
Texas 16946
Texas 15033
Texas 69392
Texas 164724
Texas 158669
Texas 157386
Texas 157374
Texas 158236
Texas 158722
Texas 160506
Texas 162126
Texas 163788
Texas 163500
Texas 165717
Texas 160176
Texas 159167
Texas 158693
Texas 158580
Texas 159654
Texas 155841
Texas 158372
Texas 156767
Texas 156778
Texas 156625
Texas 147729
Texas 144433
Texas 147865
Texas 146961
Texas 151098
Texas 148823
Texas 151810
Texas 158452
Texas 165252
Texas 164600
Texas 155658
Texas 150518
Texas 148996
Texas 152593
Texas 163350
Texas 167597
Texas 168463
Texas 168421
Texas 169355
Texas 171412
Texas 164244
Texas 163809
Texas 162822
Texas 155226
Texas 155427
Texas 149105
Texas 144081
Texas 136873
Texas 133610
Texas 133121
Texas 127211
Texas 125058
Texas 129694
Texas 99379
Texas 100403
Texas 97778
Texas 95755
Texas 87189
Texas 82764
Texas 79048
Texas 75160
Texas 74358
Texas 70332
Texas 70089
Texas 71266
Texas 65074
Texas 64383
Texas 63639
Texas 62713
Texas 64996
Texas 59894
Texas 58527
Texas 57708
Texas 56446
Texas 55989
Texas 52656
Texas 48993
Texas 47681
Texas 44609
Texas 42132
Texas 35378
Texas 33852
Texas 30076
Texas 27961
Texas 171538

In [61]:
stmt = stmt.where(census.columns.state=='Florida')

In [67]:
connection.execute(stmt).fetchall()[:20]

[('California', 'F', 0, 239605, 274356),
 ('California', 'F', 1, 236543, 269140),
 ('California', 'F', 2, 240010, 262556),
 ('California', 'F', 3, 245739, 259061),
 ('California', 'F', 4, 254522, 255544),
 ('California', 'F', 5, 260264, 253899),
 ('California', 'F', 6, 261296, 247677),
 ('California', 'F', 7, 264083, 250117),
 ('California', 'F', 8, 270447, 233293),
 ('California', 'F', 9, 271482, 231261),
 ('California', 'F', 10, 270567, 235225),
 ('California', 'F', 11, 256656, 240906),
 ('California', 'F', 12, 249887, 249456),
 ('California', 'F', 13, 242724, 255296),
 ('California', 'F', 14, 240752, 256673),
 ('California', 'F', 15, 240170, 259496),
 ('California', 'F', 16, 233186, 266794),
 ('California', 'F', 17, 235767, 269445),
 ('California', 'F', 18, 234949, 285759),
 ('California', 'F', 19, 233477, 264961)]

<p id ='FdsfaT-A'><p>
### Filter data selected from a Table - Advanced
    
SQLAlchemy also allows users to use conjunctions such as `and_()`, `or_()`, and `not_()` to build more complex filtering. For example, we can get a set of records for people in New York who are 21 or 37 years old with the following code:
```
select([census]).where(
  and_(census.columns.state == 'New York',
       or_(census.columns.age == 21,
          census.columns.age == 37
         )
      )
  )
  
 ```

In [64]:
from sqlalchemy import and_

In [65]:
# Build a query for the census table: stmt
stmt = select([census])

In [66]:
# Append a where clause to filter all the records whose state is 'California', and whose sex is not 'M'.
stmt = stmt.where(
            and_(census.columns.state=='California',
                census.columns.sex!='M'
                )
)

In [73]:
for result in connection.execute(stmt):
    print(result.age, result.sex)

0 F
1 F
2 F
3 F
4 F
5 F
6 F
7 F
8 F
9 F
10 F
11 F
12 F
13 F
14 F
15 F
16 F
17 F
18 F
19 F
20 F
21 F
22 F
23 F
24 F
25 F
26 F
27 F
28 F
29 F
30 F
31 F
32 F
33 F
34 F
35 F
36 F
37 F
38 F
39 F
40 F
41 F
42 F
43 F
44 F
45 F
46 F
47 F
48 F
49 F
50 F
51 F
52 F
53 F
54 F
55 F
56 F
57 F
58 F
59 F
60 F
61 F
62 F
63 F
64 F
65 F
66 F
67 F
68 F
69 F
70 F
71 F
72 F
73 F
74 F
75 F
76 F
77 F
78 F
79 F
80 F
81 F
82 F
83 F
84 F
85 F

<p id ='OoO'><p>
### Overview of Ordering
To sort the result output by a field, we use the `.order_by()` method. By default, the `.order_by()` method sorts from lowest to highest on the supplied column. You just have to pass in the name of the column you want sorted to `.order_by()`.

<p id ='ObaSC'><p>
### Ordering by a Single Column

In [74]:
# Build a query to select the state column: stmt
stmt = select([census.columns.state])

In [76]:
print(stmt)

SELECT census.state
FROM census ORDER BY census.state

In [75]:
# Order stmt by the state column
stmt = stmt.order_by(census.columns.state)

In [77]:
connection.execute(stmt).fetchall()[:10]

[('Alabama',),
 ('Alabama',),
 ('Alabama',),
 ('Alabama',),
 ('Alabama',),
 ('Alabama',),
 ('Alabama',),
 ('Alabama',),
 ('Alabama',),
 ('Alabama',)]

<p id ='OiDObaSC'><p>
### Ordering in Descending Order by a Single Column

In [78]:
from sqlalchemy import desc

In [79]:
# Build a query to select the state column: stmt
stmt = select([census.columns.state])
print(stmt)

SELECT census.state
FROM census

In [81]:
# Order stmt by state in descending order: rev_stmt
rev_stmt = stmt.order_by(desc(census.columns.state))
print(rev_stmt)

SELECT census.state
FROM census ORDER BY census.state DESC

In [82]:
# Execute the query and store the results: rev_results
rev_results = connection.execute(rev_stmt).fetchall()

# Print the first 10 rev_results
print(rev_results[:10])

[('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',), ('Wyoming',)]

<p id ='ObMC'><p>
### Ordering by Multiple Columns
We can pass multiple arguments to the `.order_by()` method to order by multiple columns. In fact, we can also sort in ascending or descending order for each individual column. Each column in the `.order_by()` method is fully sorted from left to right. This means that the first column is completely sorted, and then within each matching group of values in the first column, it's sorted by the next column in the `.order_by()` method. This process is repeated until all the columns in the `.order_by()` are sorted.

In [83]:
# Build a query to select state and age: stmt
stmt = select([census.columns.state, census.columns.age])
print(stmt)

SELECT census.state, census.age
FROM census

In [84]:
# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))
print(stmt)

SELECT census.state, census.age
FROM census ORDER BY census.state, census.age DESC

In [85]:
connection.execute(stmt).fetchall()[:10]

[('Alabama', 85),
 ('Alabama', 85),
 ('Alabama', 84),
 ('Alabama', 84),
 ('Alabama', 83),
 ('Alabama', 83),
 ('Alabama', 82),
 ('Alabama', 82),
 ('Alabama', 81),
 ('Alabama', 81)]

<p id ='CSaGD'><p>
### Counting, Summing and Grouping Data

 SQLAlchemy's func module provides access to built-in SQL functions that can make operations like counting and summing faster and more efficient. 

`func.sum()` to get a sum of the pop2008 column of census as shown below:
```
select([func.sum(census.columns.pop2008)])
```
If instead you want to count the number of values in pop2008, you could use `func.count()` like this:
```
select([func.count(census.columns.pop2008)])
```
Furthermore, if you only want to count the distinct values of pop2008, you can use the `.distinct()` method:
```
select([func.count(census.columns.pop2008.distinct())])
```

<p id ='CDD'><p>
### Counting Distinct Data

In [86]:
from sqlalchemy import func

In [88]:
# Build a query to count the distinct states values: stmt
stmt = select([func.count(census.columns.state.distinct())])

In [90]:
print(stmt)

SELECT count(DISTINCT census.state) AS count_1
FROM census

In [92]:
# Execute the query and store the scalar result: distinct_state_count
distinct_state_count = connection.execute(stmt).scalar()

# Print the distinct_state_count
distinct_state_count

51

<p id ='CoRbS'><p>
### Count of Records by State

In [93]:
# Build a query to select the state and count of ages by state: stmt
stmt = select([census.columns.state, func.count(census.columns.age)])

In [94]:
print(stmt)

SELECT census.state, count(census.age) AS count_1
FROM census

In [95]:
# Group stmt by state
stmt = stmt.group_by(census.columns.state)
print(stmt)

SELECT census.state, count(census.age) AS count_1
FROM census GROUP BY census.state

In [97]:
# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()
results[0].keys()

['state', 'count_1']

<p id ='DtPSbS'><p>
### Determining the Population Sum by State

In [99]:
# Build an expression to calculate the sum of pop2008 labeled as population
pop2008_sum = func.sum(census.columns.pop2008).label('population')

In [101]:
# Build a query to select the state and sum of pop2008: stmt
stmt = select([census.columns.state, pop2008_sum])
print(stmt)

SELECT census.state, sum(census.pop2008) AS population
FROM census

In [102]:
stmt = stmt.group_by(census.columns.state)
print(stmt)

SELECT census.state, sum(census.pop2008) AS population
FROM census GROUP BY census.state

In [103]:
# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print results
print(results)

# Print the keys/column names of the results returned
print(results[0].keys())

[('Alabama', 4649367), ('Alaska', 664546), ('Arizona', 6480767), ('Arkansas', 2848432), ('California', 36609002), ('Colorado', 4912947), ('Connecticut', 3493783), ('Delaware', 869221), ('District of Columbia', 588910), ('Florida', 18257662), ('Georgia', 9622508), ('Hawaii', 1250676), ('Idaho', 1518914), ('Illinois', 12867077), ('Indiana', 6373299), ('Iowa', 3000490), ('Kansas', 2782245), ('Kentucky', 4254964), ('Louisiana', 4395797), ('Maine', 1312972), ('Maryland', 5604174), ('Massachusetts', 6492024), ('Michigan', 9998854), ('Minnesota', 5215815), ('Mississippi', 2922355), ('Missouri', 5891974), ('Montana', 963802), ('Nebraska', 1776757), ('Nevada', 2579387), ('New Hampshire', 1314533), ('New Jersey', 8670204), ('New Mexico', 1974993), ('New York', 19465159), ('North Carolina', 9121606), ('North Dakota', 634282), ('Ohio', 11476782), ('Oklahoma', 3620620), ('Oregon', 3786824), ('Pennsylvania', 12440129), ('Rhode Island', 1046535), ('South Carolina', 4438870), ('South Dakota', 800997), ('Tennessee', 6202407), ('Texas', 24214127), ('Utah', 2730919), ('Vermont', 620602), ('Virginia', 7648902), ('Washington', 6502019), ('West Virginia', 1812879), ('Wisconsin', 5625013), ('Wyoming', 529490)]
['state', 'population']

<p id ='LuPaMtvoD'><p>
### Lets use Pandas and Matplotlib to visualize our Data

<p id ='SRaPD'><p>
### SQLAlchemy ResultsProxy and Pandas Dataframes

In [105]:
import pandas as pd

In [106]:
results[:5]

[('Alabama', 4649367),
 ('Alaska', 664546),
 ('Arizona', 6480767),
 ('Arkansas', 2848432),
 ('California', 36609002)]

In [107]:
df = pd.DataFrame(results)

In [109]:
df.columns = results[0].keys()
df.head()

        state  population
0     Alabama     4649367
1      Alaska      664546
2     Arizona     6480767
3    Arkansas     2848432
4  California    36609002

<p id ='FSrtaG'><p>
### From SQLAlchemy results to a Graph

In [113]:
import matplotlib.pyplot as plt
%matplotlib auto

Using matplotlib backend: MacOSX

In [114]:
df.plot.bar()

<p id ='CViaQ'><p>
### Calculating Values in a Query

<p id ='CtaMD'><p>
### Connecting to a MySQL Database
This connection string is going to start with `'mysql+pymysql://'`, indicating which dialect and driver you're using to establish the connection.  
The dialect block is followed by the `'username:password'` combo.  
Next, you specify the host and port with the following `'@host:port/'`.   
Finally, you wrap up the connection string with the `'database_name'`.

In [124]:
from sqlalchemy import create_engine
import pymysql

In [117]:
dialect_and_driver= 'mysql+pymysql://'

In [118]:
username_pwd = 'student:datacamp'

In [119]:
host_and_port = '@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/'

In [120]:
db = 'census'

In [200]:
myengine= dialect_and_driver+username_pwd+host_and_port+db
myengine

'mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census'

In [201]:
# Create an engine to the census database
engine = create_engine(myengine)

In [202]:
engine.table_names()

['census', 'state_fact']

<p id ='CaDbTC'><p>
### Calculating a Difference between Two Columns
Often, you'll need to perform math operations as part of a query, such as if you wanted to calculate the change in population from 2000 to 2008. For math operations on numbers, the operators in SQLAlchemy work the same way as they do in Python.

In [203]:
# Build query to return state names by population difference from 2008 to 2000: stmt
stmt = select([census.columns.state, (census.columns.pop2008- census.columns.pop2000).label('pop_change')])
print(stmt)

SELECT census.state, census.pop2008 - census.pop2000 AS pop_change
FROM census

In [204]:
stmt = stmt.group_by(census.columns.state)
print(stmt)

SELECT census.state, census.pop2008 - census.pop2000 AS pop_change
FROM census GROUP BY census.state

In [205]:
# Append order by for pop_change descendingly: stmt
stmt = stmt.order_by(desc('pop_change'))
print(stmt)

SELECT census.state, census.pop2008 - census.pop2000 AS pop_change
FROM census GROUP BY census.state ORDER BY pop_change DESC

In [206]:
stmt = stmt.limit(5)
print(stmt)

SELECT census.state, census.pop2008 - census.pop2000 AS pop_change
FROM census GROUP BY census.state ORDER BY pop_change DESC
 LIMIT :param_1

In [207]:
results = connection.execute(stmt).fetchall()
print(results)

[('Texas', 40137), ('California', 35406), ('Florida', 21954), ('Arizona', 14377), ('Georgia', 13357)]

In [208]:
for result in results:
    print('{}:{}'.format(result.state, result.pop_change))

Texas:40137
California:35406
Florida:21954
Arizona:14377
Georgia:13357

<p id ='DtOPoF'><p>

### Determining the Overall Percentage of Females

We can use case statement to operate on data that meets specific criteria while not affecting the query as while

In [209]:
from sqlalchemy import case, cast , Float

In [210]:
fem_pop2000 = func.sum(
            case([
                # if female then return pop2000
                (census.columns.sex=='F', 
                census.columns.pop2000)
                #otherwise return 0
            ], else_ = 0)
)

In [211]:
total_pop200 = cast(func.sum(census.columns.pop2000), Float)

In [212]:
stmt = select([fem_pop2000/total_pop200*100])

In [213]:
print(stmt)

SELECT (sum(CASE WHEN (census.sex = :sex_1) THEN census.pop2000 ELSE :param_1 END) / CAST(sum(census.pop2000) AS FLOAT)) * :param_2 AS anon_1
FROM census

In [214]:
# Execute the query and store the scalar result: percent_female
percent_female = connection.execute(stmt).scalar()

# Print the percentage
print(percent_female)

/anaconda3/lib/python3.6/site-packages/sqlalchemy/dialects/mysql/base.py:998: SAWarning: Datatype FLOAT does not support CAST on MySQL; the CAST will be skipped.
  self.dialect.type_compiler.process(cast.typeclause.type))

50.7455

<p id ='SR'><p>
### SQL Relationships

<p id ='AJwaER'><p>
### Automatic Joins with an Established Relationship
In order to join the census and state_fact tables and select the pop2008 column from the first and the abbreviation column from the second. In this case, the census and state_fact tables had a pre-defined relationship: **the state column of the former corresponded to the name column of the latter.**

In [215]:
state_fact = Table('state_fact', metadata, autoload=True, autoload_with=engine)

In [216]:
stmt = select([census.columns.pop2000, state_fact.columns.abbreviation])

In [162]:
stmt=select([state_fact])

In [171]:
stmt = ''

In [217]:
results =connection.execute(stmt).first()

In [218]:
for key in results.keys():
    print(key, getattr(results, key))

pop2000 89600
abbreviation IL

In [219]:
getattr?

<p id ='J'><p>
### Joins

In [220]:
print(stmt)

SELECT census.pop2000, state_fact.abbreviation
FROM census, state_fact

<p id ='MPwJ'><p>
### More Practice with Joins

In [164]:
results = connection.execute(stmt).fetchall()

In [221]:
stmt = select([census.columns.state, func.sum(census.columns.pop2008), state_fact.columns.census_division_name])

In [222]:
stmt = stmt.group_by(census.columns.state)
print(stmt)

SELECT census.state, sum(census.pop2008) AS sum_1, state_fact.census_division_name
FROM census, state_fact GROUP BY census.state

In [227]:
# Execute the statement and get the results: results
results = connection.execute(stmt).fetchall()

# Loop over the the results object and print each record.
resultsdf = pd.DataFrame(results)

In [230]:
resultsdf.columns =results[0].keys()

In [231]:
resultsdf.head()

        state       sum_1 census_division_name
0     Alabama   238752522   East North Central
1      Alaska    33891846   East North Central
2     Arizona   545635893   East North Central
3    Arkansas   221524008   East North Central
4  California  2904600246   East North Central

<p id ='WwHT'><p>
## Working with Hierarchical Tables

In [165]:
results

[('13', 'Illinois', 'IL', 'USA', 'state', '10', 'current', 'occupied', '', '17', 'Ill.', 'V', '2', 'Midwest', '3', 'East North Central', '7'),
 ('30', 'New Jersey', 'NJ', 'USA', 'state', '10', 'current', 'occupied', '', '34', 'N.J.', 'II', '1', 'Northeast', '2', 'Mid-Atlantic', '3'),
 ('34', 'North Dakota', 'ND', 'USA', 'state', '10', 'current', 'occupied', '', '38', 'N.D.', 'VIII', '2', 'Midwest', '4', 'West North Central', '8'),
 ('37', 'Oregon', 'OR', 'USA', 'state', '10', 'current', 'occupied', '', '41', 'Ore.', 'X', '4', 'West', '9', 'Pacific', '9'),
 ('51', 'Washington DC', 'DC', 'USA', 'capitol', '10', 'current', 'occupied', '', '11', '', 'III', '3', 'South', '5', 'South Atlantic', 'D.C.'),
 ('49', 'Wisconsin', 'WI', 'USA', 'state', '10', 'current', 'occupied', '', '55', 'Wis.', 'V', '2', 'Midwest', '3', 'East North Central', '7'),
 ('3', 'Arizona', 'AZ', 'USA', 'state', '10', 'current', 'occupied', '', '4', 'Ariz.', 'IX', '4', 'West', '8', 'Mountain', '9'),
 ('4', 'Arkansas', 'AR', 'USA', 'state', '10', 'current', 'occupied', '', '5', 'Ark.', 'VI', '3', 'South', '7', 'West South Central', '8'),
 ('6', 'Colorado', 'CO', 'USA', 'state', '10', 'current', 'occupied', '', '8', 'Colo.', 'VIII', '4', 'West', '8', 'Mountain', '10'),
 ('11', 'Hawaii', 'HI', 'USA', 'state', '10', 'current', 'occupied', '', '15', 'Hawaii', 'IX', '4', 'West', '9', 'Pacific', '9'),
 ('16', 'Kansas', 'KS', 'USA', 'state', '10', 'current', 'occupied', '', '20', 'Kan.', 'VII', '2', 'Midwest', '4', 'West North Central', '10'),
 ('18', 'Louisiana', 'LA', 'USA', 'state', '10', 'current', 'occupied', '', '22', 'La.', 'VI', '3', 'South', '7', 'West South Central', '5'),
 ('26', 'Montana', 'MT', 'USA', 'state', '10', 'current', 'occupied', '', '30', 'Mont.', 'VIII', '4', 'West', '8', 'Mountain', '9'),
 ('27', 'Nebraska', 'NE', 'USA', 'state', '10', 'current', 'occupied', '', '31', 'Nebr.', 'VII', '2', 'Midwest', '4', 'West North Central', '8'),
 ('36', 'Oklahoma', 'OK', 'USA', 'state', '10', 'current', 'occupied', '', '40', 'Okla.', 'VI', '3', 'South', '7', 'West South Central', '10'),
 ('12', 'Idaho', 'ID', 'USA', 'state', '10', 'current', 'occupied', '', '16', 'Idaho', 'X', '4', 'West', '8', 'Mountain', '9'),
 ('21', 'Massachusetts', 'MA', 'USA', 'state', '10', 'current', 'occupied', '', '25', 'Mass.', 'I', '1', 'Northeast', '1', 'New England', '1'),
 ('22', 'Michigan', 'MI', 'USA', 'state', '10', 'current', 'occupied', '', '26', 'Mich.', 'V', '2', 'Midwest', '3', 'East North Central', '6'),
 ('25', 'Missouri', 'MO', 'USA', 'state', '10', 'current', 'occupied', '', '29', 'Mo.', 'VII', '2', 'Midwest', '4', 'West North Central', '8'),
 ('33', 'North Carolina', 'NC', 'USA', 'state', '10', 'current', 'occupied', '', '37', 'N.C.', 'IV', '3', 'South', '5', 'South Atlantic', '4'),
 ('35', 'Ohio', 'OH', 'USA', 'state', '10', 'current', 'occupied', '', '39', 'Ohio', 'V', '2', 'Midwest', '3', 'East North Central', '6'),
 ('39', 'Rhode Island', 'RI', 'USA', 'state', '10', 'current', 'occupied', '', '44', 'R.I.', 'I', '1', 'Northeast', '1', 'New England', '1'),
 ('40', 'South Carolina', 'SC', 'USA', 'state', '10', 'current', 'occupied', '', '45', 'S.C.', 'IV', '3', 'South', '5', 'South Atlantic', '4'),
 ('50', 'Wyoming', 'WY', 'USA', 'state', '10', 'current', 'occupied', '', '56', 'Wyo.', 'VIII', '4', 'West', '8', 'Mountain', '10'),
 ('14', 'Indiana', 'IN', 'USA', 'state', '10', 'current', 'occupied', '', '18', 'Ind.', 'V', '2', 'Midwest', '3', 'East North Central', '7'),
 ('38', 'Pennsylvania', 'PA', 'USA', 'state', '10', 'current', 'occupied', '', '42', 'Pa.', 'III', '1', 'Northeast', '2', 'Mid-Atlantic', '3'),
 ('41', 'South Dakota', 'SD', 'USA', 'state', '10', 'current', 'occupied', '', '46', 'S.D.', 'VIII', '2', 'Midwest', '4', 'West North Central', '8'),
 ('42', 'Tennessee', 'TN', 'USA', 'state', '10', 'current', 'occupied', '', '47', 'Tenn.', 'IV', '3', 'South', '6', 'East South Central', '6'),
 ('45', 'Vermont', 'VT', 'USA', 'state', '10', 'current', 'occupied', '', '50', 'Vt.', 'I', '1', 'Northeast', '1', 'New England', '2'),
 ('2', 'Alaska', 'AK', 'USA', 'state', '10', 'current', 'occupied', '', '2', 'Alaska', 'X', '4', 'West', '9', 'Pacific', '9'),
 ('8', 'Delaware', 'DE', 'USA', 'state', '10', 'current', 'occupied', '', '10', 'Del.', 'III', '3', 'South', '5', 'South Atlantic', '3'),
 ('17', 'Kentucky', 'KY', 'USA', 'state', '10', 'current', 'occupied', '', '21', 'Ky.', 'IV', '3', 'South', '6', 'East South Central', '6'),
 ('24', 'Mississippi', 'MS', 'USA', 'state', '10', 'current', 'occupied', '', '28', 'Miss.', 'IV', '3', 'South', '6', 'East South Central', '5'),
 ('46', 'Virginia', 'VA', 'USA', 'state', '10', 'current', 'occupied', '', '51', 'Va.', 'III', '3', 'South', '5', 'South Atlantic', '4'),
 ('9', 'Florida', 'FL', 'USA', 'state', '10', 'current', 'occupied', '', '12', 'Fla.', 'IV', '3', 'South', '5', 'South Atlantic', '11'),
 ('20', 'Maryland', 'MD', 'USA', 'state', '10', 'current', 'occupied', '', '24', 'Md.', 'III', '3', 'South', '5', 'South Atlantic', '4'),
 ('28', 'Nevada', 'NV', 'USA', 'state', '10', 'current', 'occupied', '', '32', 'Nev.', 'IX', '4', 'West', '8', 'Mountain', '9'),
 ('47', 'Washington', 'WA', 'USA', 'state', '10', 'current', 'occupied', '', '53', 'Wash.', 'X', '4', 'West', '9', 'Pacific', '9'),
 ('5', 'California', 'CA', 'USA', 'state', '10', 'current', 'occupied', '', '6', 'Calif.', 'IX', '4', 'West', '9', 'Pacific', '9'),
 ('7', 'Connecticut', 'CT', 'USA', 'state', '10', 'current', 'occupied', '', '9', 'Conn.', 'I', '1', 'Northeast', '1', 'New England', '2'),
 ('10', 'Georgia', 'GA', 'USA', 'state', '10', 'current', 'occupied', '', '13', 'Ga.', 'IV', '3', 'South', '5', 'South Atlantic', '11'),
 ('15', 'Iowa', 'IA', 'USA', 'state', '10', 'current', 'occupied', '', '19', 'Iowa', 'VII', '2', 'Midwest', '4', 'West North Central', '8'),
 ('19', 'Maine', 'ME', 'USA', 'state', '10', 'current', 'occupied', '', '23', 'Maine', 'I', '1', 'Northeast', '1', 'New England', '1'),
 ('29', 'New Hampshire', 'NH', 'USA', 'state', '10', 'current', 'occupied', '', '33', 'N.H.', 'I', '1', 'Northeast', '1', 'New England', '1'),
 ('31', 'New Mexico', 'NM', 'USA', 'state', '10', 'current', 'occupied', '', '35', 'N.M.', 'VI', '4', 'West', '8', 'Mountain', '10'),
 ('43', 'Texas', 'TX', 'USA', 'state', '10', 'current', 'occupied', '', '48', 'Texas', 'VI', '3', 'South', '7', 'West South Central', '5'),
 ('1', 'Alabama', 'AL', 'USA', 'state', '10', 'current', 'occupied', '', '1', 'Ala.', 'IV', '3', 'South', '6', 'East South Central', '11'),
 ('23', 'Minnesota', 'MN', 'USA', 'state', '10', 'current', 'occupied', '', '27', 'Minn.', 'V', '2', 'Midwest', '4', 'West North Central', '8'),
 ('32', 'New York', 'NY', 'USA', 'state', '10', 'current', 'occupied', '', '36', 'N.Y.', 'II', '1', 'Northeast', '2', 'Mid-Atlantic', '2'),
 ('44', 'Utah', 'UT', 'USA', 'state', '10', 'current', 'occupied', '', '49', 'Utah', 'VIII', '4', 'West', '8', 'Mountain', '10'),
 ('48', 'West Virginia', 'WV', 'USA', 'state', '10', 'current', 'occupied', '', '54', 'W.Va.', 'III', '3', 'South', '5', 'South Atlantic', '4')]

<p id ='Uathstjq'><p>
### Using alias to handle same table joined queries

In [267]:
emp_engine =  create_engine('sqlite:///employees.sqlite')

In [268]:
emp_engine.table_names()

['employees']

In [269]:
connection = emp_engine.connect()

In [270]:
employees = Table('employees', metadata, auto_load= True, autoload_with= employees)

In [271]:
# Make an alias of the employees table: managers
managers = employees.alias()

In [261]:
stmt = select([managers])

In [282]:
stmt= ''

In [283]:
# Build a query to select manager's and their employees names: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

In [284]:
# Match managers id with employees mgr: stmt
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

In [285]:
# Order the statement by the managers name: stmt
stmt = stmt.order_by(managers.columns.name)

In [275]:
print(stmt)

SELECT employees_1.name AS manager, employees.name AS employees
FROM employees AS employees_1, employees
WHERE employees_1.id = employees.mgr ORDER BY %(5017613368 employees)s

/anaconda3/lib/python3.6/site-packages/sqlalchemy/sql/compiler.py:643: SAWarning: Can't resolve label reference '%(5017613368 employees)s'; converting to text() (this warning may be suppressed after 10 occurrences)
  util.ellipses_string(element.element))

In [286]:
# Execute statement: results
results = connection.execute(stmt).fetchall()

# Print records
for record in results:
    print(record)

('FILLMORE', 'GRANT')
('FILLMORE', 'ADAMS')
('FILLMORE', 'MONROE')
('GARFIELD', 'JOHNSON')
('GARFIELD', 'LINCOLN')
('GARFIELD', 'POLK')
('GARFIELD', 'WASHINGTON')
('HARDING', 'TAFT')
('HARDING', 'HOOVER')
('JACKSON', 'HARDING')
('JACKSON', 'GARFIELD')
('JACKSON', 'FILLMORE')
('JACKSON', 'ROOSEVELT')

### Leveraging Functions and `Group_bys` with Hierarchical Data

In [287]:
managers = employees.alias()

In [293]:
# Build a query to select managers and counts of their employees: stmt
stmt = select([managers.columns.name, func.count(employees.columns.id)])

In [294]:
stmt = stmt.where(managers.columns.id ==employees.columns.mgr)
print(stmt)

SELECT employees_1.name, count(employees.id) AS count_1
FROM employees AS employees_1, employees
WHERE employees_1.id = employees.mgr

In [295]:
stmt = stmt.group_by(managers.columns.name)
print(stmt)

SELECT employees_1.name, count(employees.id) AS count_1
FROM employees AS employees_1, employees
WHERE employees_1.id = employees.mgr GROUP BY employees_1.name

In [296]:
# Execute statement: results
results = connection.execute(stmt).fetchall()

# print manager
for record in results:
    print(record)

('FILLMORE', 3)
('GARFIELD', 4)
('HARDING', 2)
('JACKSON', 4)

<p id ='DwLR'><p>
### Dealing with Large ResultSets

<p id ='WoBoR'><p>
### Working on Blocks of Records

In [262]:
engine = create_engine('sqlite:///census.sqlite')

SELECT employees_1.id, employees_1.name, employees_1.job, employees_1.mgr, employees_1.hiredate, employees_1.sal, employees_1.comm, employees_1.dept
FROM employees AS employees_1

In [305]:
# Reflect census table from the engine: census
census = Table('census', metadata, autoload=True, autoload_with=engine)

In [306]:
connection = engine.connect()

In [308]:
stmt = select([census])

In [314]:
results = connection.execute(stmt)

In [318]:
more_results = True
results_proxy = results
state_count= {}

In [319]:
# Start a while loop checking for more results
while more_results:
    # Fetch the first 50 results from the ResultProxy: partial_results
    partial_results = results_proxy.fetchmany(50)

    # if empty list, set more_results to False
    if partial_results == []:
        more_results = False

    # Loop over the fetched records and increment the count for the state
    for row in partial_results:
        if row.state in state_count:
            state_count[row.state] += 1
        else:
            state_count[row.state] = 1

# Close the ResultProxy, and thus the connection
results_proxy.close()

# Print the count by state
print(state_count)

{'Illinois': 122, 'New Jersey': 172, 'District of Columbia': 172, 'North Dakota': 172, 'Florida': 172, 'Maryland': 172, 'Idaho': 172, 'Massachusetts': 172, 'Oregon': 172, 'Nevada': 172, 'Michigan': 172, 'Wisconsin': 172, 'Missouri': 172, 'Washington': 172, 'North Carolina': 172, 'Arizona': 172, 'Arkansas': 172, 'Colorado': 172, 'Indiana': 172, 'Pennsylvania': 172, 'Hawaii': 172, 'Kansas': 172, 'Louisiana': 172, 'Alabama': 172, 'Minnesota': 172, 'South Dakota': 172, 'New York': 172, 'California': 172, 'Connecticut': 172, 'Ohio': 172, 'Rhode Island': 172, 'Georgia': 172, 'South Carolina': 172, 'Alaska': 172, 'Delaware': 172, 'Tennessee': 172, 'Vermont': 172, 'Montana': 172, 'Kentucky': 172, 'Utah': 172, 'Nebraska': 172, 'West Virginia': 172, 'Iowa': 172, 'Wyoming': 172, 'Maine': 172, 'New Hampshire': 172, 'Mississippi': 172, 'Oklahoma': 172, 'New Mexico': 172, 'Virginia': 172, 'Texas': 172}

# Creating and Manipulating own databases

<p id ='CDaT'><p>
## Creating Databases and Tables

<p id ='CTwS'><p>
### Creating Tables with SQLAlchemy

In [323]:
from sqlalchemy import Table, Column, String, Float, Boolean, Integer

In [324]:
data = Table('data', metadata, 
            Column('name',String(255)),
            Column('count', Integer()),
            Column('amount', Float()),
            Column('valid', Boolean())
            )

In [326]:
data.columns.keys()

['name', 'count', 'amount', 'valid']

In [327]:
metadata.create_all(engine)

In [328]:
repr(data)

"Table('data', MetaData(bind=None), Column('name', String(length=255), table=<data>), Column('count', Integer(), table=<data>), Column('amount', Float(), table=<data>), Column('valid', Boolean(), table=<data>), schema=None)"

<p id ='CaDD'><p>
### Constraints and Data Defaults

In [333]:
data = Table('data', metadata, 
            Column('name', String(255), unique = True),
            Column('count', Integer(), default = 1),
            Column('amount', Float()),
             Column('valid', Boolean(), default= 1),
             extend_existing= True,
            )

In [334]:
# Use the metadata to create the table
metadata.create_all(engine)

# Print the table details
print(repr(metadata.tables['data']))

Table('data', MetaData(bind=None), Column('name', String(length=255), table=<data>), Column('count', Integer(), table=<data>, default=ColumnDefault(1)), Column('amount', Float(), table=<data>), Column('valid', Boolean(), table=<data>, default=ColumnDefault(1)), schema=None)

<p id ='IDiaT'><p>
### Inserting Data into a Table

<p id ='Iasrwais'><p>
### Inserting a single row with an `insert()` statement
It uses an insert statement where you specify the table as an argument, and supply the data you wish to insert into the value via the `.values()` method as keyword arguments.

In [336]:
from sqlalchemy import insert

In [357]:
# Build an insert statement to insert a record into the data table: stmt
stmt = insert(data).values(name = 'Satyam', count=2 , amount = 10000.00, valid = True)

In [358]:
results_proxy = connection.execute(stmt)

In [344]:
results_proxy.rowcount

1

In [350]:
# Build a select statement to validate the insert
stmt = select([data]).where(data.columns.name == 'Anna')

In [352]:
connection.execute(stmt).first()

('Anna', 1, 1000.0, True)

<p id ='IMRaO'><p>
### Inserting Multiple Records at Once

In [355]:
values_list = [{ 'name':'Peter', 'count':23, 'amount':10000.00, 'valid':True},
              {'name':'Eric', 'count':45, 'amount':20000.00, 'valid': True}]

In [356]:
results =connection.execute(insert(data), values_list)

In [360]:
results.rowcount

2

<p id ='LaCiaT'><p>
### Loading a CSV into a Table

In [361]:
stmt  = insert(census)

In [394]:
sat_engine = create_engine('sqlite:///sat_census.sqlite')

In [413]:
sat_connection = sat_engine.connect()

In [402]:
sat_census = Table('sat_cenus', metadata, 
            Column('state', String(255)),
            Column('sex', String(255)),
            Column('age', String(3)),
            Column('pop2000', String()),
             Column('pop2008', String()),
             extend_existing= True,
            )

In [403]:
metadata.create_all(sat_engine)

In [404]:
sat_census.columns.keys()

['state', 'sex', 'age', 'pop2000', 'pop2008']

In [405]:
sat_engine.table_names()

['census', 'data', 'sat_cenus']

In [406]:
import csv

In [407]:
# Create an empty list and zeroed row count: values_list, total_rowcount
values_list = []
total_rowcount = 0

In [408]:
with open('./census_for_db.csv', 'r') as csvfile:
    csv_reader = csv.reader(csvfile, delimiter = ',')
    for idx, row in enumerate(csv_reader):
        data= {'state': row[0], 'sex':row[1], 'age':row[2], 'pop2000':row[3], 'pop2008':row[4]}
        values_list.append(data)

In [409]:
values_list

[{'state': 'Illinois',
  'sex': 'M',
  'age': '0',
  'pop2000': '89600',
  'pop2008': '95012'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '1',
  'pop2000': '88445',
  'pop2008': '91829'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '2',
  'pop2000': '88729',
  'pop2008': '89547'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '3',
  'pop2000': '88868',
  'pop2008': '90037'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '4',
  'pop2000': '91947',
  'pop2008': '91111'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '5',
  'pop2000': '93894',
  'pop2008': '89802'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '6',
  'pop2000': '93676',
  'pop2008': '88931'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '7',
  'pop2000': '94818',
  'pop2008': '90940'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '8',
  'pop2000': '95035',
  'pop2008': '86943'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '9',
  'pop2000': '96436',
  'pop2008': '86055'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '10',
  'pop2000': '97280',
  'pop2008': '86565'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '11',
  'pop2000': '94029',
  'pop2008': '86606'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '12',
  'pop2000': '92402',
  'pop2008': '89596'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '13',
  'pop2000': '89926',
  'pop2008': '91661'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '14',
  'pop2000': '90717',
  'pop2008': '91256'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '15',
  'pop2000': '92178',
  'pop2008': '92729'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '16',
  'pop2000': '90587',
  'pop2008': '93083'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '17',
  'pop2000': '92782',
  'pop2008': '94541'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '18',
  'pop2000': '90997',
  'pop2008': '100253'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '19',
  'pop2000': '89629',
  'pop2008': '96588'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '20',
  'pop2000': '91040',
  'pop2008': '95460'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '21',
  'pop2000': '85176',
  'pop2008': '91373'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '22',
  'pop2000': '84372',
  'pop2008': '90723'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '23',
  'pop2000': '85529',
  'pop2008': '91982'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '24',
  'pop2000': '84549',
  'pop2008': '90237'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '25',
  'pop2000': '87630',
  'pop2008': '95217'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '26',
  'pop2000': '84205',
  'pop2008': '93351'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '27',
  'pop2000': '87481',
  'pop2008': '92949'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '28',
  'pop2000': '91586',
  'pop2008': '93929'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '29',
  'pop2000': '95226',
  'pop2008': '89559'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '30',
  'pop2000': '98572',
  'pop2008': '89598'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '31',
  'pop2000': '91469',
  'pop2008': '90093'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '32',
  'pop2000': '89813',
  'pop2008': '87703'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '33',
  'pop2000': '89694',
  'pop2008': '90090'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '34',
  'pop2000': '91474',
  'pop2008': '84679'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '35',
  'pop2000': '97796',
  'pop2008': '86172'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '36',
  'pop2000': '97688',
  'pop2008': '90250'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '37',
  'pop2000': '97664',
  'pop2008': '92422'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '38',
  'pop2000': '98705',
  'pop2008': '95862'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '39',
  'pop2000': '100103',
  'pop2008': '88235'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '40',
  'pop2000': '103045',
  'pop2008': '87299'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '41',
  'pop2000': '98235',
  'pop2008': '87285'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '42',
  'pop2000': '97946',
  'pop2008': '88474'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '43',
  'pop2000': '96490',
  'pop2008': '94799'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '44',
  'pop2000': '92713',
  'pop2008': '94893'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '45',
  'pop2000': '93817',
  'pop2008': '94278'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '46',
  'pop2000': '87706',
  'pop2008': '95633'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '47',
  'pop2000': '85685',
  'pop2008': '96731'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '48',
  'pop2000': '83445',
  'pop2008': '99113'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '49',
  'pop2000': '81182',
  'pop2008': '94273'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '50',
  'pop2000': '81005',
  'pop2008': '93425'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '51',
  'pop2000': '75942',
  'pop2008': '92133'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '52',
  'pop2000': '75896',
  'pop2008': '87504'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '53',
  'pop2000': '78933',
  'pop2008': '88458'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '54',
  'pop2000': '58953',
  'pop2008': '82456'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '55',
  'pop2000': '57885',
  'pop2008': '79601'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '56',
  'pop2000': '58143',
  'pop2008': '77447'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '57',
  'pop2000': '60590',
  'pop2008': '74349'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '58',
  'pop2000': '54120',
  'pop2008': '73646'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '59',
  'pop2000': '49046',
  'pop2008': '68179'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '60',
  'pop2000': '47509',
  'pop2008': '67186'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '61',
  'pop2000': '45588',
  'pop2008': '70789'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '62',
  'pop2000': '44604',
  'pop2008': '50790'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '63',
  'pop2000': '41700',
  'pop2008': '49725'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '64',
  'pop2000': '40316',
  'pop2008': '48773'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '65',
  'pop2000': '39696',
  'pop2008': '51139'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '66',
  'pop2000': '35784',
  'pop2008': '45248'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '67',
  'pop2000': '35251',
  'pop2008': '40085'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '68',
  'pop2000': '34729',
  'pop2008': '38613'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '69',
  'pop2000': '34914',
  'pop2008': '36909'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '70',
  'pop2000': '35307',
  'pop2008': '35929'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '71',
  'pop2000': '33112',
  'pop2008': '32944'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '72',
  'pop2000': '32673',
  'pop2008': '31610'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '73',
  'pop2000': '31381',
  'pop2008': '30767'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '74',
  'pop2000': '30103',
  'pop2008': '26962'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '75',
  'pop2000': '29050',
  'pop2008': '26065'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '76',
  'pop2000': '27274',
  'pop2008': '24866'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '77',
  'pop2000': '25325',
  'pop2008': '24059'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '78',
  'pop2000': '23794',
  'pop2008': '23908'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '79',
  'pop2000': '21932',
  'pop2008': '21598'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '80',
  'pop2000': '19729',
  'pop2008': '20725'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '81',
  'pop2000': '17222',
  'pop2008': '19151'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '82',
  'pop2000': '15811',
  'pop2008': '17433'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '83',
  'pop2000': '13553',
  'pop2008': '16064'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '84',
  'pop2000': '12073',
  'pop2008': '14569'},
 {'state': 'Illinois',
  'sex': 'M',
  'age': '85',
  'pop2000': '53719',
  'pop2008': '72621'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '0',
  'pop2000': '85910',
  'pop2008': '90286'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '1',
  'pop2000': '84396',
  'pop2008': '88126'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '2',
  'pop2000': '84764',
  'pop2008': '86291'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '3',
  'pop2000': '85598',
  'pop2008': '85170'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '4',
  'pop2000': '87729',
  'pop2008': '86959'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '5',
  'pop2000': '89085',
  'pop2008': '85336'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '6',
  'pop2000': '89608',
  'pop2008': '85210'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '7',
  'pop2000': '89876',
  'pop2008': '87083'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '8',
  'pop2000': '90982',
  'pop2008': '83463'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '9',
  'pop2000': '91913',
  'pop2008': '82137'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '10',
  'pop2000': '93569',
  'pop2008': '82662'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '11',
  'pop2000': '89694',
  'pop2008': '83484'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '12',
  'pop2000': '87574',
  'pop2008': '85594'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '13',
  'pop2000': '85843',
  'pop2008': '86851'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '14',
  'pop2000': '87057',
  'pop2008': '87519'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '15',
  'pop2000': '86835',
  'pop2008': '87794'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '16',
  'pop2000': '85249',
  'pop2008': '88919'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '17',
  'pop2000': '86930',
  'pop2008': '89900'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '18',
  'pop2000': '84902',
  'pop2008': '96446'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '19',
  'pop2000': '85953',
  'pop2008': '92743'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '20',
  'pop2000': '87124',
  'pop2008': '91653'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '21',
  'pop2000': '82416',
  'pop2008': '88640'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '22',
  'pop2000': '81888',
  'pop2008': '88671'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '23',
  'pop2000': '83219',
  'pop2008': '88442'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '24',
  'pop2000': '82301',
  'pop2008': '88009'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '25',
  'pop2000': '84817',
  'pop2008': '92928'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '26',
  'pop2000': '82888',
  'pop2008': '90322'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '27',
  'pop2000': '85594',
  'pop2008': '89980'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '28',
  'pop2000': '89682',
  'pop2008': '90458'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '29',
  'pop2000': '94496',
  'pop2008': '86087'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '30',
  'pop2000': '96361',
  'pop2008': '85098'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '31',
  'pop2000': '90025',
  'pop2008': '86881'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '32',
  'pop2000': '89414',
  'pop2008': '83797'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '33',
  'pop2000': '89087',
  'pop2008': '85142'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '34',
  'pop2000': '91233',
  'pop2008': '81825'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '35',
  'pop2000': '98151',
  'pop2008': '84362'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '36',
  'pop2000': '98588',
  'pop2008': '87900'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '37',
  'pop2000': '99155',
  'pop2008': '91106'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '38',
  'pop2000': '100045',
  'pop2008': '93812'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '39',
  'pop2000': '102074',
  'pop2008': '87686'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '40',
  'pop2000': '104762',
  'pop2008': '87678'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '41',
  'pop2000': '99919',
  'pop2008': '86734'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '42',
  'pop2000': '100474',
  'pop2008': '88419'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '43',
  'pop2000': '98601',
  'pop2008': '95458'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '44',
  'pop2000': '95485',
  'pop2008': '95101'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '45',
  'pop2000': '95859',
  'pop2008': '96963'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '46',
  'pop2000': '90902',
  'pop2008': '97582'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '47',
  'pop2000': '88623',
  'pop2008': '98107'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '48',
  'pop2000': '85539',
  'pop2008': '100824'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '49',
  'pop2000': '84865',
  'pop2008': '96202'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '50',
  'pop2000': '83791',
  'pop2008': '96290'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '51',
  'pop2000': '80154',
  'pop2008': '94537'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '52',
  'pop2000': '79736',
  'pop2008': '90986'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '53',
  'pop2000': '83261',
  'pop2008': '90778'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '54',
  'pop2000': '62200',
  'pop2008': '85252'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '55',
  'pop2000': '61540',
  'pop2008': '83956'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '56',
  'pop2000': '62191',
  'pop2008': '79770'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '57',
  'pop2000': '65588',
  'pop2008': '78547'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '58',
  'pop2000': '58373',
  'pop2008': '76929'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '59',
  'pop2000': '53406',
  'pop2008': '73154'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '60',
  'pop2000': '52517',
  'pop2008': '72032'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '61',
  'pop2000': '50588',
  'pop2008': '76361'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '62',
  'pop2000': '49457',
  'pop2008': '55862'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '63',
  'pop2000': '46140',
  'pop2008': '54569'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '64',
  'pop2000': '46040',
  'pop2008': '54698'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '65',
  'pop2000': '45501',
  'pop2008': '58118'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '66',
  'pop2000': '41990',
  'pop2008': '51610'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '67',
  'pop2000': '42327',
  'pop2008': '46695'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '68',
  'pop2000': '42526',
  'pop2008': '45791'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '69',
  'pop2000': '43328',
  'pop2008': '43938'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '70',
  'pop2000': '44539',
  'pop2008': '43143'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '71',
  'pop2000': '41731',
  'pop2008': '39827'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '72',
  'pop2000': '42175',
  'pop2008': '39581'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '73',
  'pop2000': '42123',
  'pop2008': '38613'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '74',
  'pop2000': '40681',
  'pop2008': '34897'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '75',
  'pop2000': '40986',
  'pop2008': '34884'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '76',
  'pop2000': '39676',
  'pop2008': '34261'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '77',
  'pop2000': '37514',
  'pop2008': '34377'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '78',
  'pop2000': '36875',
  'pop2008': '35020'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '79',
  'pop2000': '34777',
  'pop2008': '31819'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '80',
  'pop2000': '33171',
  'pop2008': '31257'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '81',
  'pop2000': '29900',
  'pop2008': '30560'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '82',
  'pop2000': '28488',
  'pop2008': '28584'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '83',
  'pop2000': '26257',
  'pop2008': '28316'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '84',
  'pop2000': '23947',
  'pop2008': '26452'},
 {'state': 'Illinois',
  'sex': 'F',
  'age': '85',
  'pop2000': '140079',
  'pop2008': '166300'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '0',
  'pop2000': '56983',
  'pop2008': '58756'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '1',
  'pop2000': '56686',
  'pop2008': '57325'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '2',
  'pop2000': '57011',
  'pop2008': '55475'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '3',
  'pop2000': '57912',
  'pop2008': '56059'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '4',
  'pop2000': '59359',
  'pop2008': '58048'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '5',
  'pop2000': '60392',
  'pop2008': '58472'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '6',
  'pop2000': '60739',
  'pop2008': '57080'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '7',
  'pop2000': '61579',
  'pop2008': '56754'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '8',
  'pop2000': '62089',
  'pop2008': '56616'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '9',
  'pop2000': '63384',
  'pop2008': '56322'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '10',
  'pop2000': '64593',
  'pop2008': '56617'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '11',
  'pop2000': '62494',
  'pop2008': '57482'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '12',
  'pop2000': '60570',
  'pop2008': '58834'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '13',
  'pop2000': '58189',
  'pop2008': '59925'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '14',
  'pop2000': '57931',
  'pop2008': '60294'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '15',
  'pop2000': '56752',
  'pop2008': '61056'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '16',
  'pop2000': '55887',
  'pop2008': '61478'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '17',
  'pop2000': '56712',
  'pop2008': '62450'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '18',
  'pop2000': '53265',
  'pop2008': '62809'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '19',
  'pop2000': '48344',
  'pop2008': '55700'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '20',
  'pop2000': '49564',
  'pop2008': '55794'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '21',
  'pop2000': '48141',
  'pop2008': '54769'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '22',
  'pop2000': '48353',
  'pop2008': '55026'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '23',
  'pop2000': '49130',
  'pop2008': '54730'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '24',
  'pop2000': '48723',
  'pop2008': '53471'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '25',
  'pop2000': '51092',
  'pop2008': '56073'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '26',
  'pop2000': '50357',
  'pop2008': '55169'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '27',
  'pop2000': '52179',
  'pop2008': '51964'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '28',
  'pop2000': '55938',
  'pop2008': '52358'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '29',
  'pop2000': '60638',
  'pop2008': '51467'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '30',
  'pop2000': '64220',
  'pop2008': '52596'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '31',
  'pop2000': '61484',
  'pop2008': '54346'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '32',
  'pop2000': '61927',
  'pop2008': '54414'},
 {'state': 'New Jersey',
  'sex': 'M',
  'age': '33',

In [411]:
stmt = insert(sat_census)

In [414]:
results = sat_connection.execute(stmt, values_list)

<p id ='UDiaD'><p>
### Updating Data in a Database

<p id ='Uir'><p>
### Updating individual records

In [424]:
from sqlalchemy import  update

In [415]:
engine = create_engine('sqlite:///census.sqlite')

In [416]:
engine.table_names()

['census', 'data', 'state_fact']

In [440]:
select_stmt = select([state_fact]).where(state_fact.columns.name=='New York')

In [420]:
connection = engine.connect()

In [450]:
# Build a statement to update the fips_state to 36: stmt
stmt = update(select_stmt).values(fips_state = 134)

In [451]:
stmt= ''

In [452]:
print(stmt)

In [453]:
result = connection.execute(stmt)

In [445]:
connection.execute(select_stmt).fetchall()

[('32', 'New York', 'NY', 'USA', 'state', '10', 'current', 'occupied', '', '34', 'N.Y.', 'II', '1', 'Northeast', '2', 'Mid-Atlantic', '2')]

In [465]:
stmt =''

<p id ='UMR'><p>
### Updating Multiple Records

In [466]:
# Build a statement to update the notes to 'The Wild West': stmt
stmt = update(state_fact).values(notes ='The Wild West')

In [469]:
print(stmt)

UPDATE state_fact SET notes=:notes WHERE state_fact.census_region_name = :census_region_name_1

In [468]:
stmt = stmt.where(state_fact.columns.census_region_name =='West')

In [471]:
results = connection.execute(stmt)

In [472]:
results.rowcount

13

<p id ='CU'><p>
### Correlated Updates

<p id ='RDFaD'><p>
### Removing Data From a Database

<p id ='Datrfat'><p>
### Deleting all the records from a table

In [474]:
sat_engine = create_engine('sqlite:///sat_census.sqlite')

In [475]:
sat_engine.table_names()

['census', 'data', 'sat_cenus']

In [476]:
sat_conn= sat_engine.connect()

In [473]:
from sqlalchemy import delete

In [ ]:
delete_stmt = delete(a)

<p id ='Dsr'><p>
### Deleting specific records

<p id ='DaTC'><p>
### Deleting a Table Completely

<p id ='CCS'><p>
### Census Case Study

<p id ='StEaM'><p>
### Setup the Engine and MetaData

<p id ='CtTttD'><p>
### Create the Table to the Database

<p id ='PtD'><p>
### Populating the Database

<p id ='RtDftC'><p>
### Reading the Data from the CSV

<p id ='LDfalitT'><p>
### Load Data from a list into the Table

<p id ='EQ'><p>
### Example Queries

<p id ='BaQtDtAAbP'><p>
### Build a Query to Determine the Average Age by Population

<p id ='BaQtDtPoPbGaS'><p>
### Build a Query to Determine the Percentage of Population by Gender and State

<p id ='BaQtDtDbSft2a2C'><p>
### Build a Query to Determine the Difference by State from the 2000 and 2008 Censuses

<p id ='C'><p>
### Congratulations